<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Star Graphix</title>

    <!-- Website Title Icon -->
    <link rel="shortcut icon" type="image/x-icon" href="/resources/images/STAR GRAPHIX LOGO.png" />

    <!-- Bootstrap CSS CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Flickity CSS -->
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">

    <!-- Select 2 CSS CDN -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />

    <!-- CSS Link -->
    <link rel="stylesheet" href="resources/css/style.css">

</head>

<body>
    <div id="StarGraphixApp" v-cloak>
        <div class="container-fluid p-0" style="min-height: 100dvh !important;">
            <header>
                <div class="navigation-bar">
                    <div class="container">
                        <div class="star-graphix-logo flex">
                            <div class="circle-logo flex">
                                <a href="#home" v-on:click="setShowAllTrue()">
                                    <img src="resources/images/STAR GRAPHIX LOGO.png" alt="Star Graphix Logo">
                                </a>
                            </div>
                            <div class="company-name">
                                <h1>Star Graphix</h1>
                                <p>Digital Solution in one place</p>
                            </div>
                        </div>
                        <div class="nav-bar flex">
                            <ul class="flex">
                                <li>
                                    <a v-on:click="setShowAllTrue()" href="#home">Home</a>
                                </li>
                                <li>
                                    <a v-on:click="setShowAllTrue()" href="#services">Services</a>
                                </li>
                                <li>
                                    <a v-on:click="setShowAllTrue()" href="#products">Products</a>
                                </li>
                                <li>
                                    <a v-on:click="setShowAllTrue()" href="#contact">Contact Us</a>
                                </li>
                            </ul>
                            <a href="#order" v-on:click="setShowAllTrue()" class="order-now flex">
                                <iconify-icon icon="material-symbols:order-approve"></iconify-icon> Order Now
                            </a>
                        </div>
                        <button class="expand-btn flex" v-on:click="openMobileNav=true">
                            <iconify-icon icon="octicon:three-bars-16"></iconify-icon>
                        </button>
                    </div>
                </div>
            </header>
            <div class="render-body" v-if="showAll">
                <section id="home">
                    <div class="main-carousel">
                        <div class="carousel-1 carousel-cell flex">
                            Carousel 1
                        </div>
                        <div class="carousel-2 carousel-cell flex">
                            Carousel 2
                        </div>
                        <div class="carousel-3 carousel-cell flex">
                            Carousel 3
                        </div>
                    </div>
                </section>
                <section id="services">
                    <div class="container">
                        <div class="row mb-4">
                            <div class="col-12 flex">
                                <div class="our-services flex">
                                    Our Services
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div v-for="service in services" class="col-12 col-md-6 col-xl-4 mb-4">
                                <div class="card service-card flex">
                                    <div class="service-header flex">
                                        <div class="service-logo flex">
                                            <iconify-icon :icon="service.serviceIcon"></iconify-icon>
                                        </div>
                                        <div class="service-heading">
                                            {{service.serviceName}}
                                        </div>
                                    </div>
                                    <div class="service-content">
                                        {{service.serviceContent}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section id="products">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 flex">
                                <div class="tabs flex" style="width:300px;">
                                    <div class="tab" :class="{ active: currentTab === 'Tab 1' }"
                                        v-on:click="currentTab = 'Tab 1'">Design</div>
                                    <div class="tab" :class="{ active: currentTab === 'Tab 2' }"
                                        v-on:click="currentTab = 'Tab 2'">Development</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="container mb-4">
                        <div class="row" v-if="currentTab === 'Tab 1'">
                            <div class="col-12 col-md-6 col-xl-4 mt-4" v-for="product in products">
                                <div class="card product-card flex">
                                    <div class="product-image">
                                        <img :src="product.productImage" :alt="product.productImage" loading="lazy">
                                    </div>
                                    <div class="product-name">
                                        {{product.productName}}
                                    </div>
                                    <div class="product-prize">
                                        Rs.<span>{{product.productPrize}}</span><span style="font-size:14px;">/-</span>
                                    </div>
                                    <div class="product-content">
                                        {{product.productContent}}
                                    </div>
                                    <button class="view-more-btn flex">
                                        View More
                                        <iconify-icon icon="gg:arrow-right-o"></iconify-icon>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div v-if="currentTab === 'Tab 1'" class="container-fluid p-0 py-4">
                        <div class="col-12 flex position-relative">
                            <div class="view-more-line"></div>
                            <button class="view-more-products flex" v-on:click="toggleShowAll()">
                                View More Products
                                <iconify-icon icon="ep:arrow-down-bold"></iconify-icon>
                            </button>
                        </div>
                    </div>
                    <div v-if="currentTab === 'Tab 2'" class="container mb-4">
                        <div class="row" style="margin-top: 30px;">
                            <div class="col-12 col-md-6 col-xl-6 mt-4" v-for="web in websiteProducts">
                                <div class="card web-card">
                                    <div class="website-image">
                                        <img :src="web.websiteImage" :alt="web.websiteImage" loading="lazy">
                                    </div>
                                    <div class="website-type">
                                        {{web.websiteType}}
                                    </div>
                                    <div class="website-name">
                                        {{web.websiteName}}
                                    </div>
                                    <div class="website-content">
                                        {{web.websiteContent}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section id="order">
                    <div class="container">
                        <div class="row mb-4">
                            <div class="col-12 flex">
                                <div class="order-now flex">
                                    Order Now
                                </div>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col-12">
                                <div class="card order-card">
                                    <div class="row">
                                        <div class="col-12 col-md-6 col-xl-6 mb-3">
                                            <input class="order-input" type="text" placeholder="First Name">
                                        </div>
                                        <div class="col-12 col-md-6 col-xl-6 mb-3">
                                            <input class="order-input" type="text" placeholder="Last Name">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-md-6 col-xl-6 mb-3">
                                            <input class="order-input" type="text" placeholder="Email">
                                        </div>
                                        <div class="col-12 col-md-6 col-xl-6 mb-3">
                                            <input class="order-input" type="text" placeholder="Phone">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-md-6 col-xl-6 mb-3">
                                            <select id="productList">
                                                <option value="">Select your product</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                            </select>
                                        </div>
                                        <div class="col-12 col-md-6 col-xl-6 mb-3">
                                            <div class="file-upload flex" v-on:click="triggerFileUpload">
                                                <iconify-icon icon="material-symbols:cloud-upload"></iconify-icon>
                                                <p>Upload your content</p>
                                            </div>
                                            <input style="display: none;" type="file" ref="fileInput"
                                                v-on:change="handleFileUpload">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 mb-3">
                                            <textarea placeholder="Type your message here" class="order-input"
                                                style="height:100px;"></textarea>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <button class="submit-order flex" v-on:click="goToWhatsapp()">
                                                <iconify-icon icon="formkit:submit"></iconify-icon>
                                                Submit Order
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section id="contact">
                    <div class="container">
                        <div class="row contact">
                            <div class="col-12 col-md-12 col-xl-4 pt-4">
                                <div class="star-graphix-logo flex">
                                    <div class="circle-logo flex">
                                        <a href="#home" v-on:click="setShowAllTrue()">
                                            <img src="resources/images/STAR GRAPHIX LOGO.png" alt="Star Graphix Logo"
                                                loading="lazy">
                                        </a>
                                    </div>
                                    <div class="company-name">
                                        <h1>Star Graphix</h1>
                                        <p>Digital Solution in one place</p>
                                    </div>
                                </div>
                                <div class="company-description">
                                    <span class="fw-bold">StarGrapix</span> offers professional graphic design, web
                                    design,
                                    and web development
                                    services to help your brand shine online.
                                </div>
                            </div>
                            <div class="col-12 col-md-12 col-xl-2 pt-4">
                                <div class="links flex">
                                    <h4>Useful Links</h4>
                                    <ul>
                                        <li>
                                            <a href="#home">Home</a>
                                        </li>
                                        <li>
                                            <a href="#services">Services</a>
                                        </li>
                                        <li>
                                            <a href="#products">Products</a>
                                        </li>
                                        <li>
                                            <a href="#contact">Contact Us</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-12 col-md-12 col-xl-3 pt-4">
                                <div class="branches flex">
                                    <h4>Our Branches</h4>
                                    <p>Ponnammapet Gate, Salem, Tamilnadu,</p>
                                    <p style="margin-top:-12px;">New Bus Stand, Salem, Tamilnadu</p>
                                </div>
                            </div>
                            <div class="col-12 col-md-12 col-xl-3 pt-4">
                                <div class="customer-support">
                                    <h4>Customer Support</h4>
                                    <div class="support-time flex">
                                        <iconify-icon icon="ph:user-bold"></iconify-icon> Support Time: 10:00 AM to 9:00
                                        PM
                                    </div>
                                    <div class="email flex">
                                        <iconify-icon icon="iconamoon:email-fill"></iconify-icon>
                                        stargraphix2010@gmail.com
                                    </div>
                                    <div class="phone flex">
                                        <iconify-icon icon="material-symbols:add-call-sharp"></iconify-icon>
                                        +91 9894033883 / +91 8056580402 / +91 6374507893
                                    </div>
                                    <div class="social-media-icons flex">
                                        <div class="circle circle-1 flex">
                                            <iconify-icon icon="gg:facebook"></iconify-icon>
                                        </div>
                                        <div class="circle circle-2 flex">
                                            <iconify-icon icon="mdi:instagram"></iconify-icon>
                                        </div>
                                        <div class="circle circle-3 flex">
                                            <iconify-icon icon="ic:baseline-whatsapp"></iconify-icon>
                                        </div>
                                        <div class="circle circle-4 flex">
                                            <iconify-icon icon="icon-park-outline:telegram"></iconify-icon>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container-fluid p-0 m-0 pt-4">
                        <div class="row m-0">
                            <div class="col-12 author">
                                Designed & Developed By @ Tech Mohan
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="products-body" v-if="allProducts" style="padding-top:100px;">
                <div class="container">
                    <div class="row my-4">
                        <div class="col-12 flex">
                            <div class="all-designs flex">
                                All Designs
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="search-bar" style="position: relative;">
                                <input type="search" placeholder="Search Here..." v-model="searchProductText">
                                <iconify-icon icon="wpf:search"
                                    style="position: absolute;  left: 14px;top: 14px;font-size: 26px;color:var(--primary-color)">
                                </iconify-icon>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-12 col-md-6 col-xl-4 mt-4" v-for="product in filteredProductData">
                            <div class="card product-card flex">
                                <div class="product-image">
                                    <img :src="product.productImage" :alt="product.productImage" loading="lazy">
                                </div>
                                <div class="product-name">
                                    {{product.productName}}
                                </div>
                                <div class="product-prize">
                                    Rs.<span>{{product.productPrize}}</span><span style="font-size:14px;">/-</span>
                                </div>
                                <div class="product-content">
                                    {{product.productContent}}
                                </div>
                                <button class="view-more-btn flex">
                                    View More
                                    <iconify-icon icon="gg:arrow-right-o"></iconify-icon>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div v-if="openMobileNav" class="nav-mobile-bar flex">
            <ul class="flex">
                <li>
                    <a href="#home" v-on:click="setShowAllTrue()">Home</a>
                </li>
                <li>
                    <a href="#services" v-on:click="setShowAllTrue()">Services</a>
                </li>
                <li>
                    <a href="#products" v-on:click="setShowAllTrue()">Products</a>
                </li>
                <li>
                    <a href="#contact" v-on:click="setShowAllTrue()">Contact Us</a>
                </li>
            </ul>
            <a href="#order" v-on:click="setShowAllTrue()" class="order-now flex">
                <iconify-icon icon="material-symbols:order-approve"></iconify-icon> Order Now
            </a>
            <button class="close-btn" v-on:click="openMobileNav=false">
                <iconify-icon icon="rivet-icons:close"></iconify-icon>
            </button>
        </div>
    </div>

    <!-- Jquery JS -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Iconify Icon JS -->
    <script type="text/javascript"
        src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>

    <!-- Select 2 JS CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

    <!-- Flickity JS -->
    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>

    <!-- Vue JS -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>

    <!-- JS Link -->
    <script type="text/javascript" src="resources/js/script.js"></script>

</body>

</html>