<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Star Graphix</title>

    <!-- Website Title Icon -->
    <link rel="shortcut icon" type="image/x-icon" href="/resources/images/STAR GRAPHIX LOGO.png" />

    <!-- Bootstrap CSS CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Flickity CSS -->
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">

    <!-- CSS Link -->
    <link rel="stylesheet" href="resources/css/style.css">

</head>

<body>
    <div id="StarGraphixApp" v-cloak>
        <div class="container-fluid p-0">
            <header>
                <div class="navigation-bar">
                    <div class="container">
                        <div class="star-graphix-logo flex">
                            <div class="circle-logo flex">
                                <a href="#home">
                                    <img src="resources/images/STAR GRAPHIX LOGO.png" alt="Star Graphix Logo"
                                        loading="lazy">
                                </a>
                            </div>
                            <div class="company-name">
                                <h1>Star Graphix</h1>
                                <p>Digital Solution in one place</p>
                            </div>
                        </div>
                        <div class="nav-bar flex">
                            <ul class="flex">
                                <li>
                                    <a href="#home">Home</a>
                                </li>
                                <li>
                                    <a href="#services">Services</a>
                                </li>
                                <li>
                                    <a href="#products">Products</a>
                                </li>
                                <li>
                                    <a href="#contact">Contact Us</a>
                                </li>
                            </ul>
                            <button class="order-now flex">
                                <iconify-icon icon="material-symbols:order-approve"></iconify-icon> Order Now
                            </button>
                        </div>
                        <button class="expand-btn flex" v-on:click="openMobileNav=true">
                            <iconify-icon icon="octicon:three-bars-16"></iconify-icon>
                        </button>
                    </div>
                </div>
            </header>
            <section id="home">
                <div class="main-carousel">
                    <div class="carousel-1 carousel-cell flex">
                        Carousel 1
                    </div>
                    <div class="carousel-2 carousel-cell flex">
                        Carousel 2
                    </div>
                    <div class="carousel-3 carousel-cell flex">
                        Carousel 3
                    </div>
                </div>
            </section>
            <section id="services">
                <div class="container">
                    <div class="row mb-4">
                        <div class="col-12 flex">
                            <div class="our-services flex">
                                Our Services
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div v-for="service in services" class="col-12 col-md-6 col-xl-4 mb-4">
                            <div class="card service-card flex">
                                <div class="service-header flex">
                                    <div class="service-logo flex">
                                        <iconify-icon :icon="service.serviceIcon"></iconify-icon>
                                    </div>
                                    <div class="service-heading">
                                        {{service.serviceName}}
                                    </div>
                                </div>
                                <div class="service-content">
                                    {{service.serviceContent}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="products" style="min-height: 600px;">
                <div class="container">
                    <div class="row">
                        <div class="col-12 flex">
                            <div class="tabs flex" style="width:300px;">
                                <div class="tab" :class="{ active: currentTab === 'Tab 1' }"
                                    v-on:click="currentTab = 'Tab 1'">Design</div>
                                <div class="tab" :class="{ active: currentTab === 'Tab 2' }"
                                    v-on:click="currentTab = 'Tab 2'">Development</div>
                            </div>
                        </div>
                    </div>
                    <div class="row" v-if="currentTab === 'Tab 1'" style="margin-top: 30px;">
                        <div class="col-12 col-md-6 col-xl-4 mt-4" v-for="product in products">
                            <div class="card product-card flex">
                                <div class="product-image">
                                    <img :src="product.productImage" :alt="product.productImage" loading="lazy">
                                </div>
                                <div class="product-name">
                                    {{product.productName}}
                                </div>
                                <div class="product-prize">
                                    Rs.<span>{{product.productPrize}}</span><span style="font-size:14px;">/-</span>
                                </div>
                                <div class="product-content">
                                    {{product.productContent}}
                                </div>
                                <button class="view-more-btn flex">
                                    View More
                                    <iconify-icon icon="gg:arrow-right-o"></iconify-icon>
                                </button>
                            </div>
                        </div>

                    </div>
                    <div class="row" v-if="currentTab === 'Tab 2'" style="margin-top: 30px;">
                        <div class="col-12 col-md-6 col-xl-6 mt-4" v-for="web in websiteProducts">
                            <div class="card web-card">
                                <div class="website-image">
                                    <img :src="web.websiteImage" :alt="web.websiteImage" loading="lazy">
                                </div>
                                <div class="website-type">
                                    {{web.websiteType}}
                                </div>
                                <div class="website-name">
                                    {{web.websiteName}}
                                </div>
                                <div class="website-content">
                                    {{web.websiteContent}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div v-if="openMobileNav" class="nav-mobile-bar flex">
            <ul class="flex">
                <li>
                    <a href="#home" v-on:click="openMobileNav=false">Home</a>
                </li>
                <li>
                    <a href="#services" v-on:click="openMobileNav=false">Services</a>
                </li>
                <li>
                    <a href="#products" v-on:click="openMobileNav=false">Products</a>
                </li>
                <li>
                    <a href="#contact" v-on:click="openMobileNav=false">Contact Us</a>
                </li>
            </ul>
            <button class="order-now flex">
                <iconify-icon icon="material-symbols:order-approve"></iconify-icon> Order Now
            </button>
            <button class="close-btn" v-on:click="openMobileNav=false">
                <iconify-icon icon="rivet-icons:close"></iconify-icon>
            </button>
        </div>
    </div>

    <!-- Jquery JS -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

    <!-- Bootstrap JS -->
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Iconify Icon JS -->
    <script type="text/javascript"
        src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>

    <!-- Flickity JS -->
    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>

    <!-- Vue JS -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>

    <!-- JS Link -->
    <script type="text/javascript" src="/resources/js/script.js"></script>

</body>

</html>
