.main-loader {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100vw;
    height: 100vh;
    background-color: var(--primary-color);
    z-index: 2000;
    flex-direction: column;
    gap: 20px;
}

.main-loader .stargraphix-logo {
    width: 100px;
    height: 100px;
    background-color: var(--secondary-color);
    border-radius: 50%;
}

.main-loader .stargraphix-logo img {
    width: 70px;
}

.main-loader .content p {
    color: var(--secondary-color);
    font-weight: bold;
    font-size: 20px;
}

.main-loader .loader {
    width: 60px;
    aspect-ratio: 2;
    --_g: no-repeat radial-gradient(circle closest-side, #ffffff 90%, #ffffff00);
    background:
        var(--_g) 0% 50%,
        var(--_g) 50% 50%,
        var(--_g) 100% 50%;
    background-size: calc(100%/3) 50%;
    animation: l3 1s infinite linear;
}

@keyframes l3 {
    20% {
        background-position: 0% 0%, 50% 50%, 100% 50%
    }

    40% {
        background-position: 0% 100%, 50% 0%, 100% 50%
    }

    60% {
        background-position: 0% 50%, 50% 100%, 100% 0%
    }

    80% {
        background-position: 0% 50%, 50% 50%, 100% 100%
    }
}