@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    font-family: "Poppins", sans-serif;
}

:root {
    --background-color: #F5F5F5;
    --primary-color: #FF2C2D;
    --secondary-color: white;
    --dark-color: black;
    --dark-light-color: #4D4B4B;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
}

ul li {
    list-style: none;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Vue Display None */
[v-cloak] {
    display: none;
}

.container-fluid {
    background-color: var(--background-color);
}

header {
    position: fixed;
    z-index: 20;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

/* Slider Styles */
#home {
    padding-top: 90px;
}

#services {
    padding-top: 30px;
}

.slider {
    border: none;
    position: relative;
    background-color: var(--secondary-color);
    border-bottom: 10px solid var(--primary-color);
}

.slides {
    border-radius: 10px;
    border: none;
}

.slider-btn {
    position: absolute;
    border: none;
    outline: none;
    width: 45px;
    height: 45px;
    background-color: var(--primary-color);
    border-radius: 50%;
    color: var(--secondary-color);
    font-size: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.slider-dots {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.slider-dot {
    width: 15px;
    height: 15px;
    background-color: var(--dark-light-color);
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.active-dot {
    background-color: var(--primary-color);
}

/* Services */
.our-services {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-size: 20px;
    font-weight: bold;
    width: 200px;
    height: 50px;
    border-radius: 15px;
}

.service-card {
    width: 100%;
    min-height: 250px;
    background-color: var(--secondary-color);
    border-radius: 9px !important;
    border: none;
    border-bottom: 7px solid var(--primary-color);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    flex-direction: column;
    padding: 0px 20px;
    gap: 10px;
}

.service-card .service-logo {
    background-color: var(--primary-color);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    color: white;
    font-size: 30px;
}

.service-card .service-header {
    flex-direction: column;
    gap: 10px;
}

.service-card .service-heading {
    font-size: 20px;
    font-weight: bold;
}

.service-card .service-content {
    color: var(--dark-light-color);
    font-size: 14px;
    text-align: center;
}

/* Media Query */
@media screen and (min-width:1024px) {

    /* Header Styles */

    header {
        width: 100%;
        height: 90px;
        background-color: var(--primary-color);
    }

    .navigation-bar {
        height: 100%;
    }

    .navigation-bar .container {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navigation-bar .star-graphix-logo {
        justify-content: space-between;
        gap: 10px;
    }

    .navigation-bar .circle-logo {
        width: 70px;
        height: 70px;
        background-color: var(--secondary-color);
        border-radius: 50%;
    }

    .navigation-bar .star-graphix-logo .circle-logo img {
        width: 45px;
    }

    .navigation-bar .star-graphix-logo .company-name h1 {
        font-size: 25px;
        color: var(--secondary-color);
        font-weight: bold;
    }

    .navigation-bar .star-graphix-logo .company-name p {
        color: var(--secondary-color);
        margin: 0px;
        font-size: 15px;
    }

    .nav-bar ul {
        margin: 0px;
    }

    .nav-bar ul li a {
        color: var(--secondary-color);
        padding: 8px 10px;
        font-size: 18px;
        font-weight: 600;
        background-color: transparent;
        margin: 0px 5px;
        border-radius: 5px;
        transition: 0.2s;
    }

    .nav-bar ul li a:hover {
        color: var(--dark-light-color-color);
    }

    .nav-bar ul li:last-child {
        margin-right: 20px;
    }

    .nav-bar .order-now {
        border: none;
        outline: none;
        background-color: var(--secondary-color);
        color: var(--primary-color);
        padding: 8px 15px;
        font-size: 18px;
        font-weight: 600;
        gap: 5px;
        border-radius: 10px;
        transition: 0.2s;
    }

    .nav-bar .order-now iconify-icon {
        font-size: 26px;
    }

    .nav-bar .order-now:hover {
        background-color: var(--dark-color);
        color: var(--secondary-color);
    }

    .expand-btn {
        display: none;
    }

    .nav-mobile-bar {
        display: none;
    }

    /* Carousel Styles */
    .slider {
        padding: 24px 90px;
        min-height: 521px;
    }

    .slides {
        width: 100%;
        min-height: 450px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    .previous-btn {
        left: 30px;
    }

    .next-btn {
        right: 30px;
    }
}

@media screen and (max-width:1023px) {

    /* Header Styles */

    .container-fluid {
        position: relative;
    }

    header {
        width: 100%;
        height: 90px;
        background-color: var(--primary-color);
    }

    .navigation-bar .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navigation-bar .circle-logo {
        width: 70px;
        height: 70px;
        background-color: var(--secondary-color);
        border-radius: 50%;
    }

    .navigation-bar .star-graphix-logo .circle-logo img {
        width: 45px;
    }

    .navigation-bar .star-graphix-logo {
        gap: 10px;
        height: 89px;
    }

    .navigation-bar .star-graphix-logo .company-name h1 {
        font-size: 25px;
        color: var(--secondary-color);
        font-weight: bold;
    }

    .navigation-bar .star-graphix-logo .company-name p {
        color: var(--secondary-color);
        margin: 0px;
        font-size: 12px;
    }

    .nav-mobile-bar {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100vw;
        height: 100vh;
        background-color: var(--dark-color);
        z-index: 30;
    }

    .nav-mobile-bar ul {
        flex-direction: column;
        padding: 0px;
        gap: 50px;
    }

    .nav-mobile-bar ul li a {
        color: var(--secondary-color);
        font-size: 20px;
    }

    .nav-mobile-bar ul li a:hover {
        color: var(--primary-color);
    }

    .nav-mobile-bar ul li:last-child {
        margin-bottom: 20px;
    }

    .expand-btn {
        display: flex;
        border: none;
        outline: none;
        background-color: var(--secondary-color);
        color: var(--primary-color);
        font-size: 22px;
        padding: 10px 15px;
        border-radius: 5px;
        border: 2px solid transparent;
        transition: 0.1s;

    }

    .expand-btn:hover {
        background-color: transparent;
        color: var(--secondary-color);
        border: 2px solid var(--secondary-color);
    }

    .nav-mobile-bar .close-btn {
        position: absolute;
        top: 30px;
        right: 30px;
        border: none;
        outline: none;
        color: var(--secondary-color);
        background-color: transparent;
        font-size: 30px;
        transition: 0.2s;
    }

    .nav-mobile-bar .close-btn:hover {
        color: var(--primary-color);
    }

    .nav-mobile-bar .order-now {
        border: none;
        outline: none;
        background-color: var(--primary-color);
        color: var(--secondary-color);
        padding: 8px 15px;
        font-size: 18px;
        font-weight: 600;
        gap: 5px;
        border-radius: 10px;
        margin-top: 20px;
    }

    .nav-mobile-bar .order-now iconify-icon {
        font-size: 26px;
    }

    .nav-mobile-bar .order-now:hover {
        background-color: var(--secondary-color);
        color: var(--primary-color);
    }

    .nav-bar .order-now {
        display: none;
    }

    .nav-bar ul {
        margin: 0px;
        display: none;
    }

    /* Carousel Styles */

    .slider {
        padding: 40px 20px;
        min-height: 320px;
    }

    .slides {
        width: 100%;
        min-height: 250px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    .previous-btn {
        left: 5px;
    }

    .next-btn {
        right: 5px;
    }
}